*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Optima', 'Optima Nova', 'Candara', sans-serif;
  min-height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh;
}
